<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="namespace" default="/"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ucsd_f1tenth_gazebo)/worlds/ucsd_track_final.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ucsd_f1tenth_description)/urdf/mybot.xacro'"/>

  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model mybot" />

</launch>
