[submodule "starter-scripts"]
	path = scripts/client/starter-scripts
	url = https://github.com/dane-tool/starter-scripts.git
[submodule "network-stats"]
	path = scripts/network-stats
	url = https://github.com/viasat/network-stats.git
