data
data/*
metrics

**/.cache-*
**.ipynb_checkpoints

.ipynb_checkpoints

__pycache__/*
**__pycache__
**__pycache__/*

**/notebooks/.cache-gazzaniga3

spotify_client_info.txt
*.tsv
notebooks/.DS_Store
.DS_Store
*.csv
