{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">
  <div class="container-fluid">
    <div class="row text-center">
      <header class="jumbotron my-4">
        <h1 class="display-3">About</h1>
        <p class="lead">
          For those who work out at home, finding a good workout routine is difficult. It is hard to constantly have to find workout videos that meet your fitness needs,
          as well as your time and equipment constraints. Plus, the pre-set workouts found online are not one-size-fits-all. In other words, while there are many workout
          videos online to choose from, these choices are non-personalized. Asnapp is a solution that can solve all these problems, as well as meet the growing need for
          an easy way to build a good at home workout routine during the pandemic.
          <br><br>
          Asnapp is a workout recommender system that recommends workout videos by <a href="https://www.fitnessblender.com/">Fitness Blender</a>. Asnapp saves you the time and effort needed to build a good workout routine! It is as simple as:
        </p>

        <div style="text-align: left;">
          <ol class='lead'>
            <li> Register an account with us and tell us your available equipment and workout preferences. You can update these preferences anytime!</li>
            <li> Choose between our three recommendations models to generate your recommendations. </li>
            <li> Browse through our recommendation lists. We split up the recommendations by upper body, lower body, core, and total body workouts, and only the
              recommended workouts that match your available equipment and workout preferences are
              shown to you! </li>
            <li> Start a workout! Like or dislike a workout to get more personalized recommendations.</li>
          </ol>
        </div>
        <p class="lead">
          Asnapp was created by Amanda Shu, Najeem Kanishka, and Peter Peng
          for the UCSD DSC180A/B Capstone Project.</p>
        <a href="https://github.com/amandashu/Workout_Recommender" class="btn btn-primary btn-lg" target="_blank">GitHub Repo</a>
      </header>
    </div>
  </div>
</div>

{% endblock content %}
