{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="row text-center">
      <header class="jumbotron my-4">
        <h1 class="display-3">Contact Us</h1>
        <p class="lead">Please contact us if you have any questions or concerns, including
          but not limited to: more information, user account reset, and account deletion.
        </p>
        <a href="mailto:amshu@ucsd.edu,nkanishk@ucsd.edu,yup074@ucsd.edu" class="btn btn-primary btn-lg">E-Mail Address</a>
      </header>
    </div>
  </div>
</div>
{% endblock content %}
